@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

html,
body {
  @apply w-full h-full overflow-hidden bg-black;
}

.video-bg {
  @apply w-full h-full pointer-events-none;
}

.video-bg video {
  @apply w-full h-full object-cover;
}

.contextMenu {
  @apply fixed flex flex-col list-none m-1 p-0 z-[999999999] overflow-hidden;
  top: var(--top);
  left: var(--left);
  height: 0;
  background: linear-gradient(45deg, rgba(10, 20, 28, 0.2) 0%, rgba(10, 20, 28, 0.7) 100%);
  backdrop-filter: blur(5px);
  animation: menuAnimation 0.4s 0s both;
  transform-origin: left;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.08), 0 2px 2px rgb(0 0 0 / 3%),
    0 4px 4px rgb(0 0 0 / 4%), 0 10px 8px rgb(0 0 0 / 5%),
    0 15px 15px rgb(0 0 0 / 6%), 0 30px 30px rgb(0 0 0 / 7%),
    0 70px 65px rgb(0 0 0 / 9%);
}

.contextMenu-item {
  @apply p-1;
}

.contextMenu-item[data-divider="top"] {
  @apply border-t border-white/10;
}

.contextMenu-item[data-divider="bottom"] {
  @apply border-b border-white/10;
}

.contextMenu-item[data-divider="top-bottom"] {
  @apply border-t border-b border-white/10;
}

.contextMenu-button {
  @apply flex items-center w-full text-left text-white bg-transparent border-0 rounded whitespace-nowrap px-6 py-1.5 text-sm font-['Inter'] cursor-pointer;
  animation: menuItemAnimation 0.2s 0s both;
}

.contextMenu-button:hover {
  @apply bg-white/10;
}

@keyframes menuAnimation {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    height: var(--height);
    opacity: 1;
    border-radius: 8px;
    transform: scale(1);
  }
}

@keyframes menuItemAnimation {
  0% {
    opacity: 0;
    transform: translateX(-10px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}